<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wake_e"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <!-- if we want to display a map -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.wake_e.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />        
        <activity
            android:name=".fragment.PageHomePageFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.PageReveilFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.PageMeteoFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.PageAgendaFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.station.PageMailFragment"
            android:screenOrientation="portrait" />
        <activity android:name=".MapActivity" />
        <activity
            android:name=".ConfigActivity"
            android:label="@string/title_activity_config" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />

        <service android:name=".services.AlarmIntentService" />
        <service android:name=".services.AlarmSynchroIntentService" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCUflXYftumiYS_YLIC2FxdsDpRzOpRj5I" />

        <activity
            android:name=".SnoozeActivity"
            android:label="@string/title_activity_snooze" >

        </activity>
    </application>
</manifest>
